.buttonUser {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(175, 224, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.styledIcon {
  font-size: 30px;
}

.containerUser {
  padding: 20px;
}

.inputUser {
  width: 100%;
  margin-right: 10px;
}

.myRow{
  font-size:16px;
}
.right {
  float: right;
}
.myTag {
  font-size: 16px;
}

.red{
  color:red;
}
.grey{
  color:grey;
}