.button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(175, 224, 175);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.styledIcon{
    font-size: 30px;
}